* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 0px auto;
}


.container {
    color: white;
    max-width: 500px;
    margin: 10px auto;
}

.fa-trash, h1 {
    color:black;
}

li {
    color: black;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 5px solid darkgray;
    border-radius: 10px;
}

